body {
    font-family: Verdana;
    background-color: black;
    text-align: center;
}

.title {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.link {
    color: aquamarine;
    font-size: 16px;
}

.sub {
    font-weight: 300;
    font-size: 42px;
    color: white;
}

.subsub {
    font-size: 21px;
    color: gray;
}

.tag {
    text-align: right;
    color: gray;
    
}

